body{
    margin: 20px;
    padding:0;
    text-align:center;
    font-size: 16px;
    min-width: 960px;
}
h1{
     color: rgb(21, 192, 192);
}
p{color: rgb(21, 192, 192);
}

header{
    /* background: url(../img/2663124.jpg);  */
    /* border-bottom: 5px solid rgb(207, 6, 59); */
    text-align: center;
    padding-top: 1em;
}

.title-back {
    width: 960px;
    height: 600px;
    background-image: url(../img/2663124.jpg);
    background-size: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;   
}

.title-back h1 {
    height: 48px;
    color:rgb(21, 192, 192);
    font-size: 2.25rem;
    position: absolute;
    margin: 0;
    top: 48px;
}

.title-back h2{
    height: 48px;
    color:rgb(21, 192, 192);
    font-size: 2.25rem;
    position: absolute;
    top: 500px;
}
.title_box{
    background: url(../img/2663124.jpg);

}

main{
    border: bottom 50px solid rgb(214, 24, 167);
}

.janken{
    border: 1px solid rgb(21, 192, 192);
}

div#button{
    border-radius: 20px;
}
div#button:hover {
    color: #fff;
    background-color: rgb(231, 83, 165);
}



.result_box{
   background: url(../img/IMG_2847.JPG);
   background-size: cover;
    background-position: center;
    height: 900px;

}

.result_box img{
    width: 500px;
    height: 500px;
}


footer{
    background-color:rgb(21, 192, 192);
    border-bottom:2px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:50px;
}

#button{
    border: 1px solid #666;
    width: 600px;
    margin: 0 auto;
    
}

ul{

    /* border-top: 1px solid green; */
    display:flex;  
    justify-content: center;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:block;  /* 定義 */
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 10px;
    line-height: 300px;
}


li:hover{
    background: rgb(235, 50, 151);
    color:#fff;
}